* {
	font-family: Macondo;
}

img {
	width: 100%;
	text-align: center;
}

.btn {
	margin-bottom: 50px;
	text-align: center;
}

#main-header img {
	width:	100%;
	height: 100%;
}

#main-header .port-item {
	width: 30%;

}

#main-header .port-item:hover {
	opacity: 0.8;
	cursor: pointer;

}

.bg-black {
	color:  #fff;
	background: #000;
}

@media (min-width: 1199px) {
	.port-item {
		padding: 3em !important;
	}

h1 {
	/*font-family: Montez;*/
	font-size: 3em;
}

.nameSize {
	font-family: Macondo;
	font-size: 3.5em;
	font-weight: bold;
}



.positionTitle {
	font-size: 1.5em;
	font-family: Macondo;
}

.nuColor {
	/*border-top: 5px solid black;*/
	font-family: Macondo;

}

.mySkills {
  font-family: Macondo;

}